<app-menu-principal-editor></app-menu-principal-editor>
<br />

<ng-template #contenido let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
       Mujeres en STEM
    </h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Campo de trabajo/estudio: </label>
      <input
        type="text"
        class="form-control"
        name=""
        placeholder="Ingrese campo de trabajo o estudio"
        [(ngModel)]="perfil.profesion"
        required
      />
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="graduada"
          name="estado_profesion"
          [(ngModel)]="perfil.estado_profesion"
        />
        <label class="form-check-label">graduada</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="estudiante"
          name="estado_profesion"
          [(ngModel)]="perfil.estado_profesion"
        />
        <label class="form-check-label" for="inlineRadio2">estudiante</label>
      </div>
    </div>
   

    <div class="form-group">
      <label>Descripción:</label>
      <textarea
        rows="2"
        class="form-control"
        [(ngModel)]="perfil.descripcion"
        placeholder="Ingrese descripción"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <input
        type="file"
        name=""
        placeholder=""
        (change)="onFileSelect($event)"
        #photo
      />
       
        <img [src]="leerArchivo || API_URI || '../../../../assets/noimage.png'" class="img-fluid" alt="no-image" >
     
     
      <!-- <class="d-none"<img [src]="../../../../assets/noimage.png" class="img-fluid" alt="no-image" (click)="photo.click()"> -->
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="close(contenido)"
    >
      Cerrar
    </button>
    <button type="button" class="btn btn-primary" (click)=" edit ? updatepublicacion():saveArchivo()">
      PUBLICAR
    </button>
  </div>
</ng-template>
<br />

<div class="row">
  <div class="col-md-8 offset-md-3">
    <button type="reset" class="btn btn-primary" (click)="open(contenido);clear()">
      CREAR PERFIL <i class="fas fa-plus-square"></i>
    </button>
    <br />
    <table class="table table-hover">
      <thead>
        <tr class="table-active">
          <th scope="col">Profesion</th>
          
          <th scope="col">Descripción</th>
          
          <th scope="col">acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr  *ngFor="
        let perfil of perfiles | paginate: { itemsPerPage: 3, currentPage: p }">
          <td>{{ perfil.profesion }}</td>
          
          <td>{{ perfil.descripcion}}</td>
          <!-- <td><img [src]="'http://localhost:3000/'+ perfil.ruta_archivo" class="img-card-top w-100"  alt="no-image"></td> -->
          <td>
            <button class="btn btn-primary"  (click)="getpublicacion(perfil.id_publicacion); open(contenido)" >
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger"  (click)="deletePublicacion(perfil.id_publicacion )">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
    <!-- <video src="../../../../assets/Pregunta a.mp4" width="300" controls> -->
    <!-- </video> -->
  
  </div>
</div>


