<app-menu-principal-editor></app-menu-principal-editor>
<br />
<button class="btn btn-primary" (click)="open(contenido)">
  CREAR PERFIL <i class="fas fa-plus-square"></i>
</button>

<ng-template #contenido let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Perfiles de Mujeres en STEM
    </h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name=""
        placeholder="Ingrese titulo"
        [(ngModel)]="perfiles.titulo"
        required
      />
    </div>
    <div class="form-group">
      <textarea
        rows="2"
        class="form-control"
        [(ngModel)]="perfiles.descripcion"
        placeholder="Ingrese Descripción"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <input
        type="file"
        name=""
        placeholder=""
        (change)="onFileSelect($event)"
        #photo
      />

      <!-- class="d-none"<img [src]="../../../../assets/noimage.png" class="img-fluid" alt="no-image" (click)="photo.click()"> -->
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="close(contenido)"
    >
      Cerrar
    </button>
    <button type="button" class="btn btn-primary" (click)="saveArchivo()">
      PUBLICAR
    </button>
  </div>
</ng-template>
<div class="column">
  <table class="table table-hover">
    <thead>
      <tr class="table-active">
        <th scope="col">Titulo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Imagen</th>
        <th scope="col">acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        
        <td>
          <button class="btn btn-primary">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


