<app-menu-principal-editor></app-menu-principal-editor>

<div class="col-md-12 offset-md">
    <div class="list-group-item">
      <div class="form-group">
        <label>Titulo</label>
        <input
          type="text"
          class="form-control"
          name=""
          placeholder="Ingrese titulo"
         
        />
      </div>
      <div class="form-group">
        <label>Carrera/profesión</label>
        <input
          type="text"
          class="form-control"
          name=""
          placeholder="Ingrese Carrera"
         
        />
      </div>
      
       
        
         
      <button class="btn btn-primary">
        Agregar
        <i class="fas fa-plus-square"></i>
      </button>
    </div>
  </div>