.list-group-item{
    background: rgba(255, 255, 255, 0.952);

}
.iconoInput {
 color: #1a1818;
 font-size: 15px;
  position: absolute;
  right: 30px;
  top: 40px;
  }
  .content {
  
    margin-left: 40px;
    padding-left: 20px;
    margin-right: 40px;
    padding-top: 95px;
  }