

/*    
 img{
        border:1px solid #ddd;
        padding:10px;
        border-radius:2px;
        background:#fff;
        max-width:130px;
        max-height: 100px;
        
    } */
    .content {
  
        margin-left: 150px;
        padding-left: 20px;
        margin-right: 150px;
        padding-top: 30px;
      }