<app-registro-usuario></app-registro-usuario>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr class="table-active">
            <th scope="col">Id rol</th>
            <th scope="col">Tipo rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let rol of roles">
            <td>{{ rol.id_rol }}</td>
            <td>{{ rol.tipo_rol }}</td>

            <td>
              <button class="btn btn-primary" (click)="getRol(rol.id_rol)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteRol(rol.id_rol)">
                <i class="far fa-trash-alt" ></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="list-group">
      <div class="list-group-item">
        <h5 class="text-center">Registro de Roles</h5>
        <div class="form-group row">
          <div class="col">
          <input
            type="text"
            name="tipo_rol"
            class="form-control"
            [(ngModel)]="rol.tipo_rol"
            placeholder="Tipo Rol"
          />
        </div>
        <div class="col">
         <button class="btn btn-primary" (click)="edit ? updateRol(): saveRol()">
           Agregar
            <i class="fas fa-plus-square"></i>
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
