<div class="login-page">
    <div class="form">
        <h2>Iniciar Sesión</h2>
      
        <input type="text" placeholder="Usuario" [(ngModel)]="usuario"/>
        <input type="password" placeholder="Contraseña " [(ngModel)]="contrasenia"/>
        <button (click)="login()">Acceder </button>
        <!-- <p class="message">Not registered? <a href="/admin">Admin</a></p> -->
        <p > <a href="/admin">Administrador</a></p>
         
        <p><a href="/editor">Editor Stem</a></p>
        
       
    </div>
  </div>


 
  





