.content {
  margin-left: 200px;
  padding-left: 20px;
  margin-right: 200px;
  padding-top: 70px;
}

.list-group-item {
  background: rgba(248, 246, 248, 0.952);
}
.iconoInput {
  color: #1a1818;
  font-size: 15px;
  position: absolute;
  right: 30px;
  top: 40px;
}
