.content {
  margin-left: 300px;
  padding-left: 20px;
  margin-right: 300px;
  padding-top: 120px;
}

.list-group-item {
  background: rgba(255, 255, 255, 0.952);
}
.iconoInput {
  color: #1a1818;
  font-size: 15px;
  position: absolute;
  right: 30px;
  top: 40px;
}
